body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/img0.png");
    color: #333;
}

header {
    background-color: #333;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

nav .logo {
    font-size: 1.5em;
    color: #fff;
    background: url("images/img0.png");
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f7f7f7;
}

.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("images/img0.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 4em;
}

.hero .content h1 {
    font-size: 3em;
    margin: 0;
}

.hero .content p {
    font-size: 1.2em;
}

.cta-button {
    display: inline-block;
    padding: 0.7
